{{outlet}}
<dl>
  {{#each model as |bookmark index|}}
      <dt>
        {{#link-to "bookmark" bookmark.id}}
          {{if bookmark.title bookmark.title bookmark.url}}
        {{/link-to}}
      </dt>
      <dd>{{bookmark.summary}}</dd>
      <br />
  {{/each}}
</dl>
<hr />
{{#link-to "bookmarks" model.meta.prevPage}}prev{{/link-to}}
{{#if model.meta.nextPage}}
  {{#link-to "bookmarks" model.meta.nextPage}}next{{/link-to}}
{{/if}}
