{{outlet}}
<span class="{{if isLoading 'show' 'hide'}}">
	<div class="progress">
		<div class="indeterminate"></div>
	</div>
</span>
<div class="container">
	<div class="row">
		<div class="input-field"  disabled="{{if isLoading 'disabled' 'enabled'}}">
			{{input value=queryField key-up="keyPress" placeholder="search..."}}
		</div>

		<div class="suggestions {{if isSuggest 'show' 'hide'}}">
			<ul>
				{{#each suggestModel as |suggestion index|}}
					<li class="suggestion" id="suggestion_{{index}}">
						{{suggestion.token}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="row">
	<div class="right-align"><h6>results: {{total}}, took {{took}}ms, total: {{setTotal}}</h6></div>
	</div>
	<div class="{{if isLoading 'hide' 'show'}}">
	<div class="row">
		{{calendar-heatmap data=heatmap}}
	</div>
	{{#each searchModel as |bookmark index|}}
	    <div class="row">
	        <div class="col s12">
	            <div class="card blue-grey lighten-5 z-depth-1 hoverable">
	                <div class="card-content blue-grey-text">
	                    <span class="card-title">
			           {{if bookmark.title bookmark.title bookmark.url}}
	                        <h6 class="left-align">
	                            <small>added: {{bookmark.added}}</small>
	                        </h6>
	                    </span>
	                    <p class="valign">{{bookmark.summary}}</p>
	                </div>
	                <div class="card-action">
				   	 {{#link-to "bookmark" bookmark.id}}
		  			   {{if bookmark.title bookmark.title bookmark.url}}
		  			 {{/link-to}}
                    <h6 class="left-align">{{bookmark.url}}</h6>
	                </div>
	            </div>
	        </div>
	    </div>
	{{/each}}
</div>

</div>
